body {
  font-family: 'Open Sans', sans-serif;
  color: #000;
}
ul {
  padding: 0;
}
.header {
  height: 70px;
  width: 100%;
  background-color: #3d84a8;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 55px;
}
.navbar-nav {
  width: 50%;
}
.nav-item a {
  color: #ededed !important;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.nav-item a:hover {
  font-weight: 700;
  letter-spacing: 0.35px;
  color: #ffffff;
}
.btn {
  border-radius: 23px;
  border: 2px solid #fff;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.45px;
  background-color: #3d84a8;
}
.active {
  font-weight: 700 !important;
  letter-spacing: 0.35px;
  color: #fff !important;
}

/* hero */
.hero {
  background: url(img/group-1.png) left center/cover no-repeat;
}
.logo {
  margin-bottom: 50px;
  margin-top: 30px;
  margin-left: 55px;
}
.subtitle {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #3c3c3b;
  line-height: 48px;
  margin-left: 55px;
}
.title {
  line-height: 40px;
  font-size: 34px !important;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 33px;
  margin-left: 55px;
}
.hero-item {
  list-style: none;
  margin-left: 55px;
  padding-bottom: 10px;
  color: #3c3c3b;
  font-size: 21px;
  font-weight: 400;
  line-height: 40px;
}
.red {
  border-radius: 30px;
  background-color: #f13d2e;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.4px;
}
.red-big {
  padding: 22px 37px;
  margin-left: 55px;
  margin-bottom: 70px;
}

/* benefits */
.blue {
  color: #3d84a8;
}
.benefits {
  padding: 70px 0;
}
.benefits-block {
 margin-top: 50px;
}
.red-middle {
  padding: 26px 98px 19px 99px;
}

